#tasks th {
    cursor: pointer;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #tasks tr:hover {cursor: pointer;
    position: relative;background-color: #ddd;}

  #tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tasks td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  